@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth{
    width: 400px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* 
 index zone
*/

.main-page{
    width: 100vw;
    height: 100vh;
    background: no-repeat url("/images/main_back.png");
    background-size: contain;
    display: flex;
    justify-content: center;
}
.main-container{
    width: 1200px;
    display: flex;
    justify-content: flex-start;
}
.main-header{
    margin: 5vh 0 5vh 0;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.main-header img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
/* 
    auth zone
*/

.auth form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 20px 20px;
}
.strokeLogin{
    position: relative;
}
.strokeLogin label{
    position: absolute;
    bottom: 5px;
    left: 10px;
    transition: .2s;
    background-color: #fff;
    font-size: 16px;
    border-radius: 2px;
    padding: 1px 3px;
}
.auth form .strokeLogin input, .auth form button{
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0 10px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #000;
}
.auth form button{
    cursor: pointer;
    border: 1px solid #000;
    background-color: chocolate;
}
.showMessage{
    width: 100%;
    text-align: center;
    margin: 10px 0 0 0;
}


.addData{
    padding: 20px;
}

.addData form{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.addData form input, .addData form button{
    height: 30px;
    margin: 0 0 10px 0;
}


/* 
    profile zone
*/
.profile-container{
    width: 1200px;
    display: flex;
    justify-content: center;
}
.profile{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile-info{
    padding: 2vh 0 10vh 0;
    border-bottom: 2px solid chocolate;
}
.profile-info h1{
    padding: 15px 0;
}
.profile-info img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.profile-role{
    display: flex;
} 
.profile p{
    font-size: 32px;
}
.panel-add-users,.panel-add-products{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.profile input{
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0 10px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #000;
}
.profile button{
    cursor: pointer;
    border: 1px solid #000;
    background-color: chocolate;
    color: #fff;
    height: 30px;
    padding: 0 10px;
    margin: 10px 0px;
}
.profile select{
    padding: 10px 5px;
    margin: 5px 0px;
}
.profile label{
    margin: 10px 0px;
}

.choiceAddPanel{
    width: 500px;
    height: 40px;
    background-color: chocolate;
    display: flex;
    justify-content: space-between;
}

.addUsersPanel, .addProductsPanel{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}

.addPanelActive{
    background-color: brown;
}
